@model IEnumerable<primeira_projeto_aspnetmvc.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar border border-bottom-0 navbar-expand-lg navbar-light bg-light">
    <div class="row">
        <div class="col">
            <h1>Lista de Pessoas</h1>

            <p>
                <a asp-action="Create">Novo</a>
            </p>

            <form asp-action="Index" method="get">
                <div>
                    <p>
                        Procurar por nome:
                        <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
                        <input type="submit" value="Procurar" class="btn btn-primary" />
                        <a asp-action="Index">Limpar Filtro</a>
                    </p>
                </div>
            </form>
        </div>        
    </div>    
</nav>    

<table class="table">
    <thead>
        <tr>
            <th>
                <!-- @Html.DisplayNameFor(model => model.Nome) -->
                <span class="@ViewBag.iconOrderNome"></span>
                @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                <span class="@ViewBag.iconOrderCpf"></span>
                @Html.ActionLink("CPF", "Index", new { sortOrder = ViewBag.CpfSortParam })
            </th>
            <th>
                <!-- @Html.DisplayNameFor(model => model.Endereco) -->
                <span class="@ViewBag.iconOrderEnde"></span>
                @Html.ActionLink("Endereço", "Index", new { sortOrder = ViewBag.EndeSortParam })
            </th>
            <th>Comandos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td id="cpf">
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Logradouro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !ViewBag.Pessoas.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !ViewBag.Pessoas.HasNextPage ? "disabled" : "";
}
<nav class="navbar border navbar-expand-lg navbar-light bg-light btn-nav row">
  <ul class="pagination">    
    <li class="page-item">
        <a asp-action="Index"
            asp-route-sortOrder="@ViewBag.CurrentSort"
            asp-route-pageIndex="@(ViewBag.Pessoas.PageIndex - 1)"
            asp-route-currentFilter="@ViewBag.CurrentFilter"
            class="btn btn-light border @prevDisabled">
            Anterior
        </a>
    </li>
    @{
        var totalPages = ViewBag.Pessoas.TotalPages;    
    }


    @for (int i = 1; i <= totalPages; i++)
    {
        var ativa = "";
        @if (ViewBag.Pessoas.PageIndex == @i){
           ativa = "active"; 
        } 
    <li class="page-item @ativa">
        <a asp-action="Index"
            asp-route-sortOrder="@ViewBag.CurrentSort"
            asp-route-pageIndex="@i"
            asp-route-currentFilter="@ViewBag.CurrentFilter"
            class="page-link">
             @i
        </a>
    </li>
    }
    <li class="page-item">
        <a asp-action="Index"
            asp-route-sortOrder="@ViewBag.CurrentSort"
            asp-route-pageIndex="@(ViewBag.Pessoas.PageIndex + 1)"
            asp-route-currentFilter="@ViewBag.CurrentFilter"
            class="btn btn-light border @nextDisabled">
            Próximo
        </a>
    </li>    
  </ul>  
</nav>